@font-face {
    font-family: 'Dollie';
    src: url('DollieScript_PersonalUse.ttf');
}

@font-face {
    font-family: 'Sudden Desires';
    src: url('Sudden Desires.ttf');
  }


@font-face {
  font-family: 'barbie';
  src: url('barbie.ttf');
 }

@font-face {
  font-family: 'No Added Sugar';
  src: url('No Added Sugar.otf');
 }